/* 인덱스 페이지 */

.section1 {
    margin: 0 auto;
    padding-top:0 0 0;
}

.section1 .container-fluid {
    padding-left:0 !important;
    padding-right:0 !important;
    width:100%;
    height:calc(100vh - 100px);
}

.section1 .container-fluid .item {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:calc(100vh - 100px);
    display:none;
}

.section1 .container-fluid .item:first-child {
    display:block;
}

.section1 .container-fluid .item .img-box {
    z-index:100;
    width:100%;
    height:calc(100vh - 100px);
    overflow:hidden;
}

.section1 .container-fluid .item .text-box {
    z-index:101;
    position: absolute;
    top:50%;
    left:18%;
    transform:translateY(-50%);
}

.section1 .container-fluid .item .text-box h1 {
    color:white;
    font-size:60px;
    text-shadow:0 0 5px black;
}

.section1 .container-fluid .item .text-box p {
    color:white;
    font-size:15px;
    text-shadow:0 0 3px black;
}

.section1 .container-fluid .item img {
    padding-left:0;
    padding-right:0;
    width:100%;
    height:calc(100vh - 100px);
}

.section1 .arrow {
    z-index:101;
    position: absolute;
    width:100%;
    height:calc(100vh - 100px);
}

.section1 .arrow .left-bg {
    z-index:102;
    position: absolute;
    top:0;
    left:0;
    height:100%;
    transition:0.5s;
    cursor: pointer;
}

.section1 .arrow .right-bg {
    z-index:102;
    position: absolute;
    top:0;
    right:0;
    height:100%;
    transition:0.5s;
    cursor: pointer;
}

.section1 .arrow .left-bg .left{
    z-index:103;
    top:50%;
    left:0;
    transform:translateY(-50%);
}

.section1 .arrow .left-bg .left img{
    width:30px;
    transition:0.5s;
    left:10px;
    opacity:0.4;
}

.section1 .arrow .right-bg .right {
    z-index:103;
    top:50%;
    right:0;
    transform:translateY(-50%);
}

.section1 .arrow .right-bg .right img{
    width:30px;
    transition:0.5s;
    right:10px;
    opacity:0.4;
}

.section1 .arrow .left-bg:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.section1 .arrow .right-bg:hover {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.section1 .arrow .left-bg:hover .left img{
    width:80px;
    opacity:1;
}

.section1 .arrow .right-bg:hover .right img{
    width:80px;
    opacity:1;
}

.section1 .text-btn {
    padding:12px 40px;
    font-size:15px;
}


@media (max-width:768px) {
    .section1 {
        display:none;
    }
}



.section2 {
    padding: 120px 0 100px 0;
}

.section2 .item-all {
    width:90%;
}

.section2 .section-title p {
    text-align:center;
    top:-20px;
    font-weight:600;
    letter-spacing:1px;
}

.section2 .more-link {
    font-size:14px;
    font-weight:600;
    text-decoration:underline;
    text-align:right;
    right:0;
    top:-40px;
    margin-bottom:20px;
}

.section2 .item {
    overflow:visible;
}

.section2 .item .img-box {

}

.section2 .item .img-box .img-hover{
    position: absolute;
    top:0;
    left:0;
    clip-path:circle(0%);
    transition:0.5s;
    opacity:0;
}

.section2 .item .img-box:hover .img-hover{
    clip-path:circle(100%);
    opacity:1;
}

.section2 .sale-mark {
    z-index:105;
    position: absolute;
    top:0;
    left:-5px;
    right:auto;
    background-color:#ab0000;
    padding:5px 15px;
    transform:skewX(-15deg);
}

.section2 .sale-mark .text1 {
    color:white;
    transform:skewX(15deg);
}

@media (max-width:500px) {
    .section2 .sale-mark {
        left:auto;
        right:5px;
        background-color:#ab0000;
        padding:5px 15px;
        transform:skewX(-15deg);
    }
}

.section3 {
    background-color: #f3f3f3;
    padding: 10px 0 20px;
}
.section3 .container {
    width:90%;
}


.section3 .item img {
    margin: 20px auto;
    max-width: 100%;
    mix-blend-mode: multiply;
    padding-left:50px;
    padding-right:50px;
    transition:0.3s;
}

.section3 .item h5 {
    color: #535353;
    top: -10px;
    text-align: center;
}

.section3 .item .img-box:hover img {
    transform:scale(1.15);
}

.section4 {
    padding: 120px 0 100px 0;
    background:url(img/home/sc4_bg1.png) no-repeat center center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode:multiply;
    height:75vh;
}

.section4 .container {
    top:50%;
    transform:translateY(-50%);
}
.section4 .video {
    left:-30px;
}
.section4 .item p {
    font-style:normal;
}

.section4 h2 {
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:40px;
    margin-top:40px;
}
.section4 p {
    color:#d1cfcf !important;
    font-weight:500;
    font-size:20px;
    line-height:30px;
}

.section5 {
    padding: 120px 0 100px 0;
    width:90%;
    margin:0 auto;
}

.section5 .itme {

}

.section5 .item .img-box {
    overflow:hidden;

}

.section5 .item .img-box img {
    transition:0.5s;
}

.section5 .item .img-box:hover img {
    transform:scale(1.1);
}
.section5 .text-box h4 {
    margin-bottom:10px;
    height:40px;
}

.section5 .text-box p {
    margin-bottom:50px;
}

.section5 .container .section-title p {
    text-align:right;
    font-size:16px;
}


.section6 {
    padding: 120px 0 100px 0;
    background-color: aliceblue;
}

