.section1 .grid-items {
    margin-left:auto;
    margin-right:auto;
    width:60%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    margin-bottom:100px;
}
.section1 .grid-items .item {
    background-color:#f6f6f6;
    height:200px;
    padding:0 20px;
    margin:5px;
}
.section1 .grid-items .item .text-box {
    top:50%;
    transform:translateY(-50%);
}

@media (max-width: 1200px) {
    .section1 .grid-items {
        grid-template-columns:repeat(4,1fr);
        width:60%;
    }
}
@media (max-width: 992px) {
    .section1 .grid-items {
        grid-template-columns:repeat(2,1fr);
        width:70%;
    }
}
@media (max-width: 768px) {
    .section1 .grid-items {
        grid-template-columns:repeat(1,1fr);
        width:80%;
    }
}

.section2 .container{
    height:455px;
    margin-bottom:50px;
}
.section2 .container .section-title h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

.section2 .container .section-title .map-btn {
    font-size: 16px;
    text-decoration:underline;
    text-align: right;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.section2 .container .section-title .chat-btn {
    font-size: 16px;
    text-decoration:underline;
    text-align: right;
    margin-bottom: 20px;
    cursor: pointer;
}

.section2 .container .section-title h4 {
    font-size: 16px;
    text-align: right;
    margin-bottom: 20px;
}

.section2 .container .wrap-abso-menu {
    position: absolute;
    top:0;
    right:0;
}

.section2 .container .wrap-abso-menu .chatting {
    display:none;
}