.page-title {
    margin: 0 auto;
    padding-top:0 0 0;
    margin-bottom:100px;
}

.page-title .container-fluid {
    padding-left:0 !important;
    padding-right:0 !important;
    width:100%;
}

.page-title .container-fluid .col-xs-12 {
    padding-left:0 !important;
    padding-right:0 !important;
}

.page-title .container-fluid .page-owl {
    width:100%;
}

.owl-dots {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 30px;
    overflow:hidden;
}

.owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    background-color: white !important;
    border:1px solid #333333 !important;
    border-radius: 7.5px;
    margin: 0 8px;
    transition:0.5s;
}

.owl-dots .owl-dot.active {
    width: 30px;
    height: 15px;
    background-color: #0058ab !important;
    border:1px solid rgb(251, 217, 20, 0.5) !important;
}

@media (max-width:768px) {
    .page-title {display:none;}
}

/* section 1 */
.section1 {
    padding-bottom:20px;
}

.section1 p {
    text-align:center;
}

.section1 .item-all .item .round-btn {
    background-color:#0058ab;
    border-radius:30px;
    padding:8px 10px;
    font-size:20px;
    font-weight:600;
    color:white;
    transition:0.5s;
    cursor: pointer;
    margin-bottom:30px;
}

.section1 .item-all .item .round-btn:hover {
    color:#0058ab;
    background-color:rgb(239, 239, 239);
}

.section1 .item-all .item .round-btn .text-a {
    text-align:center;
}


/* section 2 */
.section2  {
    margin-top:30px;
}
.section2 .container .item {

    margin-bottom:30px;
}

.section2 .container .item img {
    transition:0.5s;
    transform:scale(0.9);
}

.section2 .container .item:hover img {
    transform:scale(1);
}

.section2 .container .item p {margin-left:2%}